*{
    margin: 0;
    padding: 0;
    padding: 0%;
    margin: 0%;

}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #1a1919;
    display: flex;
    height: 100vh;
}

h1{
    color: white;
}
input{
    width: 80%;
    height: fit-content;
    margin: 0 0px;
    padding: 5px;
    border: 1px solid #000000;
}


