.note{
    width: 400px;
    height: 400px;
    padding: 10px;
    border: 1px solid #000000;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aqua;
}

ul{
    cursor: pointer;
    border: 1px solid #000000;
    height: 600%;
    width: 80%;

}

li{
    height: fit-content;
    list-style-type: none;
    padding: 0 10px;
    background-color: rgb(250, 179, 179);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

button{
    cursor: pointer;
    border: 1px solid #000000;
    background-color: rgb(255, 194, 115);
    color: rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;

    border-radius: 2px;
}

button:hover{
    background-color: rgb(247, 170, 29);
    color: white;
    transition: all 0.3s;
}

